.form {
  background: linear-gradient(to right, rgb(109, 235, 240), rgb(89, 171, 238));
  height: 250px;
  width: 450px;
  margin: 30px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: white 0px 0px 3px 3px;
}
input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid black;
}

input:invalid:required {
  background-image: linear-gradient(to right, pink, lightgreen);
}
